{% extends 'base/base.html' %}
{% load my_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-2">
                <div class="pl-3 mb-5">
                    <p><a href="javascript:history.go(-1)">Назад</a></p>
                </div>
            </div>

            <div class="col-12 col-lg-8">
                <section class="px-3">
                    <div class="text-center">
                        <img src="{{ specialist.image.url }} "width="320" height="320" alt="">
                    </div>
                    <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;">
                        <strong>
                            {{ specialist.full_name }}
                        </strong>
                    </h1>
                    {% if not edit %}
                        <div class="card px-3">
                            <div class="card-body pb-1">
                                <h4>
                                    Описание специалиста
                                </h4>
                                <p>
                                    {{ specialist.description|linebreaksbr }}
                                </p>
                            </div>
                            <div class="card-body pt-1">
                                <a href="{% url 'detail_specialist_edit' pk=specialist.pk %}">
                                    <button class="btn btn-block btn-primary">
                                        Редактировать данные специалиста
                                    </button>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <form class="form-signin" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <div class="card px-3 my-3">
                                <div class="card-body pb-1">
                                    <p>
                                        {{ specialist_description|crispy }}
                                    </p>
                                </div>
                                <div class="card-body pt-1">
                                    <button class="btn btn-block btn-primary" type="submit">
                                        Сохранить изменения
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                    <div class="card px-3 my-3">
                        <div class="card-body">
                            <h4>
                                {{ specialist_data_vk|verbose_name_plural }}
                            </h4>
                            <p>
                                {% for key, value in specialist_data_vk_fields.items %}
                                    {{ key }}: {{ value|linebreaksbr }} <br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
{% endblock %}