{% extends 'base/base.html' %}
{% load ru_pluralize %}
{% block content %}
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-2">
                <div class="pl-3 mb-5">
                    <p><a href="javascript:history.go(-1)">Назад</a></p>
                </div>
            </div>

            <div class="col-12 col-lg-8">
                <section class="pl-3">
                    <div class="text-center">
                        <img src="{{ specialist.image.url }} "width="160" height="160" alt="">
                    </div>
                    <h1 class="h1 text-center mx-auto mt-0 pt-1" style="font-size: 70px;">
                        <strong>
                            {{ specialist.first_name }} {{ specialist.last_name }}
                        </strong>
                    </h1>
                    <div class="card mb-4">
                        <div class="card-body px-4">
                          <p align="justify">
                              {{ specialist.description }}
                          </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>
{% endblock %}